.main {
  display: flex;
  margin: 24px;
  padding: 16px 0;
  height: calc(100% - 48px);
  background: #fff;
  overflow: auto;

  .left-menu {
    width: 224px;
    border-right: 1px solid #e8e8e8;
    :global {
      .ant-menu-inline {
        border: none;
      }
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        font-weight: bold;
      }
    }
  }

  .right-content {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;

    .title {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 12px;
    }
  }
}
