.logo {
  height: 32px;
  margin: 16px;

  img {
    margin-left: 6px;
    height: 100%;
  }

  span {
    margin-left: 12px;
    font-size: 24px;
    color: white;
    vertical-align: middle;
  }
}

.content {
  height: calc(100vh - 64px - 54px);
  overflow: auto;
}
