.logo {
  height: 32px;
  margin: 16px;

  img {
    margin-left: 6px;
    height: 100%;
  }

  span {
    margin-left: 12px;
    font-size: 24px;
    color: white;
    vertical-align: middle;
  }
}

.content {
  margin: 16px 16px 24px;
  padding: 24px;
  background: #fff;
}
